body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .container-fluid {
    margin: 0 auto;
    padding: 20px;
  }
  
  .weather-header {
    background: linear-gradient(to right, #5ba2d7, #022b4d);
  }
  
  .weather-header h1 {
    margin: 0;
    font-size: 2.2em;
    color: white;
    margin-left: 37%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-input,
  .search-button {
  width: 70%; 
  padding: 8px;
  box-sizing: border-box;
  }

  .search-button {
  padding: 9px;
  background-color: #1d78bd;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  width: 70%;
  }
  
  .hr {
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 70%; /*made width same as form and search button*/
  }
  
  .list-group {
    margin-top: 20px;

  }
  
  .list-group-item {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 5px;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  #today,
  #forecast {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .forecast-day {
    width: calc(20% - 10px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #7b6f6f;
    margin-bottom: 10px;
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {
  .forecast-day {
    width: calc(50% - 10px); 
  }
}

@media (max-width: 480px) {
  .forecast-day {
    width: 100%; 
  }
}
  